Jesse Luehrs <doy@tozt.net> jluehrs2 <jluehrs2@uiuc.edu>
Jesse Luehrs <doy@tozt.net> doy <doy@tozt.net>
Shawn M Moore <code@sartak.org> sartak <sartak@gmail.com>
Alex Smith <ais523@bham.ac.uk> ais523 <ais523@bham.ac.uk>
Sebastian Paaske Tørholm <TAEB@spam.mathemaniac.org> TAEB <TAEB@spam.mathemaniac.org>
